## Question 4

In [1]:
import pandas as pd

In [3]:
breakfast_df = pd.read_xml('breakfast_menu.xml')
breakfast_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         5 non-null      object
 1   price        5 non-null      object
 2   description  5 non-null      object
 3   calories     5 non-null      int64
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes

In [5]:
breakfast_df.head()

,name,price,description,calories
0,Belgian Waffles,$5.95,Two of our famous Belgian Waffles with plenty ...,650
1,Strawberry Belgian Waffles,$7.95,Light Belgian waffles covered with strawberrie...,900
2,Berry-Berry Belgian Waffles,$8.95,Belgian waffles covered with assorted fresh be...,900
3,French Toast,$4.50,Thick slices made from our homemade sourdough ...,600
4,Homestyle Breakfast,$6.95,"Two eggs, bacon or sausage, toast, and our eve...",950

In [8]:
breakfast_df = breakfast_df.drop(columns=['description'])
breakfast_df

                          name  price  calories
0              Belgian Waffles  $5.95       650
1   Strawberry Belgian Waffles  $7.95       900
2  Berry-Berry Belgian Waffles  $8.95       900
3                 French Toast  $4.50       600
4          Homestyle Breakfast  $6.95       950

In [10]:
breakfast_df['price'] = breakfast_df['price'].str.replace('$','')
breakfast_df

<ipython-input-10-89e155afd744>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  breakfast_df['price'] = breakfast_df['price'].str.replace('$','')

                          name price  calories
0              Belgian Waffles  5.95       650
1   Strawberry Belgian Waffles  7.95       900
2  Berry-Berry Belgian Waffles  8.95       900
3                 French Toast  4.50       600
4          Homestyle Breakfast  6.95       950

In [13]:
breakfast_df.to_csv("breakfast.csv", index=False, sep=";")